* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    background-image: url(../img/bg-blur.jpg);
    overflow-x: hidden !important;
}

a {
    color: $white - 15;
    text-decoration: none;
}

.avatar {
    border-radius: 100%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 62px;
    left: 50%;
    transform: translate(-50%, 0);
    border: 2px solid white;
}

.main {
    min-height: 300px;
    padding-top: 100px;
    background-color: rgba_color($dark, $opacity-content);
    color: $white;
}

.about-me {
    font-size: 1.2rem;
}

.lobster {
    font-family: 'Lobster', cursive;
}

.anton {
    font-family: 'Anton', sans-serif;
}

.all {
    margin: 60px auto;
}

.layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-color: rgba_color($layer-color, $opacity-layer);
}

.ul-skills {
    list-style-type: none;

    li {
        display: flex;
        justify-content: space-between;
        padding: 7px 0;
    }

    .fa-star {
        color: $yellow;
    }

    .star-empty {
        color: $white;
    }
}

.img {
    max-width: 100%;
}

.project-categories {
    position: absolute;
    bottom: 0;
    left: 0;
}

@media (max-width: $lg) {
    .project-categories {
        position: static;
        margin-top: 1rem;
    }
}

.project-images {
    display: flex;
    flex-flow: row wrap;
    margin-top: 3rem;

    > div {
        margin: 10px;
        width: calc((100% / 4) - 20px);

        a {
            display: block;
        }
    }

    img {
        max-width: 100%;
    }
}

@media (max-width: $lg){
    .project-images {
        > div {
            width: calc((100% / 3) - 20px);
        }
    }
}

@media (max-width: $md){
    .project-images {
        > div {
            width: calc((100% / 2) - 20px);
        }
    }
}

@media (max-width: $sm){
    .project-images {
        > div {
            width: calc(100% - 20px);
        }
    }
}
