.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    //border: 1px solid rgba(0,0,0,.125);
    //border-radius: 8px;

    .card-header{
        padding: 15px;
        border-radius: 3px 3px 0 0;
    }

    .card-img {
        max-width: 100%;
    }

    .card-body{
        padding: 15px;
        border-radius: 0 0 3px 3px;
    }
}

.card-columns {
    display: flex;
    flex-flow: row wrap;

    .card {
        width: calc(100% / 3 - 20px);
        margin: 10px;
    }
}

@media (max-width: $md) {
    .card-columns {
        .card {
            width: calc(100% / 2 - 20px);
        }
    }
}

@media (max-width: $sm) {
    .card-columns {
        .card {
            width: calc(100% - 20px);
        }
    }
}
