<<<<<<< current
.footer {
    background-color: rgba_color($dark, $opacity-content);
    padding: 20px;
    padding-top: 70px;
    border-radius: 0 0 8px 8px;
}
=======
.footer {
    background-color: black;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.5);
}
>>>>>>> before discard
