input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 12px 0;
    color: white;
    background-color: transparent;
    border: none;
    font-size: 1.05rem;
    border-bottom: 2px solid $gray;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;

    &:active, &:focus {
        outline: none;
    }
}

button {
    width: fit-content;
    padding: 12px 20px;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    outline: none;
    transition: all .3s;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;

    &:active, &:focus {
        box-shadow: none;
    }
}

.btn-red {
    background-color: $red;
    color: $white;
}

.has-error {
    input, textarea {
        border-color: $red;
    }
    span {
        color: $gray;
    }
}
