@media screen and (min-width: $md) and (max-width: $xl) {
    .about-me-text {
        width: 70%;
    }
}

@media screen and (min-width: $md) {
    .navbar {
        padding-bottom: 95px;
    }
    .avatar {
        width: 150px;
        height: 150px;
    }
}

@media screen and (min-width: $sm) and (max-width: $md){
    .navbar {
        padding-bottom: 70px + (25px / 2);
    }
    .avatar {
        width: 125px;
        height: 125px;
    }
    .about-me-text {
        width: 90%;
    }
}

@media screen and (max-width: $sm){
    .navbar {
        padding-bottom: 70px;
    }
    .avatar {
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: $sm){
    .main {
        padding-top: 70px;
    }
    
    .container {
        width: auto;
    }
    .all {
        margin: 0;
        &.container {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .about-me-text {
        width: 100%;
    }
}
