//TEXT - FONT

.text-white {
    color: $white;
}

.text-gray {
    color: $gray;
}

.text-center {
    text-align: center;
}

.ls-1 {
    letter-spacing: 1px;
}

.fw-700 {
    font-weight: 700;
}

.fw-400 {
    font-weight: 400;
}

//MARGIN

.mt-2 {
    margin-top: .5rem;
}

.mt-3 {
    margin-top: .75rem;
}

.mt-4 {
    margin-top: 1rem;
}

.mt-5 {
    margin-top: 1.5rem;
}

.mt-6 {
    margin-top: 3rem;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

//DISPLAY

.d-flex {
    display: flex;
}

.hidden {
    display: none;
}

@media (min-width: $md){
    .md-hidden {
        display: none !important;
    }
}

//CURSORS

.c-pointer {
    cursor: pointer;
}

//POSITION

.relative {
    position: relative;
}
