//BG COLORS

.bg-red {
    background-color: $red;
}

.bg-red-4 {
    background-color: rgba_color($red, .4);
}

.bg-red-7 {
    background-color: rgba_color($red, .7);
}

.bg-dark-4 {
    background-color: rgba_color($dark, .4);
}

.bg-dark {
    background-color: $dark;
}

.bg-dark-7 {
    background-color: rgba_color($dark, .7);
}

//TEXT - FONT

.text-white {
    color: $white;
}

.text-gray {
    color: $gray;
}

.text-center {
    text-align: center;
}

.text-red {
    color: $red;
}

.text-yellow {
    color: $yellow;
}

.ls-1 {
    letter-spacing: 1px;
}

.fw-700 {
    font-weight: 700;
}

.fw-400 {
    font-weight: 400;
}

//MARGIN

.mt-2 {
    margin-top: .5rem;
}

.mt-3 {
    margin-top: .75rem;
}

.mt-4 {
    margin-top: 1rem;
}

.mt-5 {
    margin-top: 1.5rem;
}

.mt-6 {
    margin-top: 3rem;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

//DISPLAY

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.hidden {
    display: none;
}

@media (min-width: $md){
    .md-hidden {
        display: none !important;
    }
}

//CURSORS

.c-pointer {
    cursor: pointer;
}

//POSITION

.float-right {
    float: right;
}

.relative {
    position: relative;
}
