$main-color: #044571;
$layer-color: #0f1126;

$yellow: #ffeb3b;
$red: #820934;
$dark: #0f1126;
$white: #fefefe;
$gray: #989898;
$dark-gray: #28404c;

$opacity-layer: .2;
$opacity-content: .7;

$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

$z-index: 1000;
