{% extends 'layout.twig' %}

{% set then = "2015-09-01" | date('Y-m-d') %}
{% set now = "now" | date('Y-m-d') %}
{% set diff = date(now).diff(date(then)) %}

{% block content %}
    <div class="about-me text-white text-center wow slideInUp">
        <h1 class="fw-700 ls-1 anton">Dominik Chylo</h1>
        <h3 class="fw-400 text-gray mt-2 anton">Backend developer</h3>

        <div class="mt-6">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12 offset-md-2 offset-lg-3">
                    <p>Programowania uczę się od {{ (diff.days / 365) | round(0, 'floor') }} lat. Specjalizuję się w pisaniu backend'u stron internetowych. Obecnie jestem uczniem w technikum informatycznym.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
